.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #ffffff;
}

@font-face{
	font-family: "PermanentMarker-Regular";
	src: local("PermanentMarker-Regular"), url(./fonts/PermanentMarker-Regular.ttf) format("opentype");
}

@font-face{
font-family: "ZCOOLKuaiLe-Regular";
	src: local("ZCOOLKuaiLe-Regular"), url(./fonts/ZCOOLKuaiLe-Regular.ttf) format("opentype");
}

@font-face{
font-family: "Orbitron-Black";
	src: local("Orbitron-Black"), url(./fonts/Orbitron-Black.ttf) format("opentype");
}

@font-face{
font-family: "PressStart2P-Regular";
	src: local("Orbitron-Black"), url(./fonts/PressStart2P-Regular.ttf) format("opentype");
}