.userCardWrapper{
	display: flex;
	margin: 100px 20px 10px;
	width: 100%;
	flex-wrap: wrap;
	
}
.userCardWrapper .card {
	margin: 10px;
	width: 9%;
	text-align: center;
	border: 1px solid black;
	border-radius: 24px;
	font-family: "PermanentMarker-Regular";
}

.userCardWrapper .submit-btn {
  font-family: "PermanentMarker-Regular";
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 14px 40px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.userCardWrapper .submit-btn:hover {
  background: black;
  color: white;
}