html {
    overflow: scroll;
    overflow-x: hidden;
    
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}


::-webkit-input-placeholder {
	margin:0;
   text-align: center;
}

*{
	margin:0;
	box-sizing: border-box;
	
}
.error_style{
	font-size: small;
	color: red;
	display: none;
}

h1{
	font-family: 'Permanent Marker', cursive;
}

.Gochi_Hand{
font-family: 'Gochi Hand';
}

.form-control{
	 border:none;
	
}

.language-div{
   position: fixed;
   left: 0;
   bottom: 0;
left: 50%;
  	transform: translate(-50%);
}

.fieldset{
	position:relative;
	width:fit-content;
	border:none;
	
} 

.login-form{
	 min-height:404px;
    /*  width: 100%; */
     position: absolute;
  	 top: 50%;
  	 left: 50%;
  	 transform: translate(-50%, -50%);
  	 text-align:center;
}
h2{
	font-family: 'Permanent Marker', cursive;
}
a{
	color:black;
}

a:visited{
	color:black;
}

.container{
	position:relative;
	left: 50%;
  	transform: translate(-50%);
	width:500px;
	height:100vh;

}
.form-field{
	width: 100%;
    display: block;
    padding: 20px;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    transition: 0.3s;
	 text-align: center;
}

.login-button{
	display: block;
    width: 100%;
    padding: 20px;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    color: black;
    background: white;
    transition: 0.3s;
    cursor:pointer;
}

.login-button:hover{
	background: black;
	color:white;
}
