.error_style{
	font-size: small;
	color: red;
	display: none;
}

.card .card-title{
	text-align: center;
}
.card .card-time{
	text-align: center;
}

.card .card-category{
	text-align: center;
}

.card button{
	margin-left: 39%;
}

input{
	width:100%;
	text-align: center; 
	border: 0px solid;
}
.cards-container{
	display:flex;
	flex-wrap: wrap;
}