.create-post {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.create-post h1 {
  font-family: "PermanentMarker-Regular";	
  color: blacks;
  text-transform: uppercase;
  font-weight: 500;
}
.create-post input[type="text"],
.create-post input[type="password"],
.create-post input[type="datetime-local"]{
  font-family: "PermanentMarker-Regular";
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}

.create-post input[type="datetime-local"]{
	width: 213px;
	font-family: "PermanentMarker-Regular";
}
.create-post .form-select{
  font-family: "PermanentMarker-Regular";	
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 14px 10px;
  width: 155px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}

.create-post label{
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 14px 10px;
  width: 150px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}

.create-post input[type="text"]:focus,
.create-post input[type="password"]:focus,
.create-post input[type="file"]:focus {
  width: 210px;
  border-color: black;
  box-shadow: none;
}

.create-post input[type="datetime-local"]:focus{
	width: 223px;
	border-color: black;
	box-shadow: none;
}
.create-post .form-select:focus{
	width: 165px;
  border-color: black;
  text-align: center;
  box-shadow: none;
}

.create-post .submit-btn {
  font-family: "PermanentMarker-Regular";
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 14px 40px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.create-post ::placeholder {
 font-family: "PermanentMarker-Regular";
}

.create-post .submit-btn:hover {
  background: black;
  color: white;
}

.create-post .submit-btn {
  font-family: "PermanentMarker-Regular";
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 14px 40px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.create-post .submit-btn:hover {
  background: black;
  color: white;
}

.create-post input[type="file"] {
    display: none;
}

.create-post .custom-file-upload{
	border: 1px solid white;
    display: inline-block;
    padding: 9px 70px;
    cursor: pointer;
    font-family: "PermanentMarker-Regular";
}

.create-post .custom-file-upload:hover{
	border: 2px solid black;
}

.create-post h4 {
  font-family: "PermanentMarker-Regular";	
  color: blacks;
  text-transform: uppercase;
  font-weight: 500;
}

#navbar-place{
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  left:0;
  width: 100%;

}
