.register-page {
  background: white;
  height: 100vh;
  overflow: hidden;
}

.register-form {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.register-form h2 {
  font-family: "PermanentMarker-Regular";
  color: blacks;
  text-transform: uppercase;
  font-weight: 500;
}
.register-form input {
  font-family: "PermanentMarker-Regular";
  border: 0;
  background: none;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  text-align: center;
  border: 2px solid white;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  box-shadow: none;
  background-color: transparent !important;
}
.register-form input:focus {
  width: 210px;
  border-color: black;
  box-shadow: none;
  background-color: transparent !important;
   font-family: "PermanentMarker-Regular";
}
.register-form .submit-btn {
  font-family: "PermanentMarker-Regular";
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 14px 40px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.register-form .submit-btn:hover {
  background: black;
  color: white;
}

.register-form::placeholder {
  font-family: "PermanentMarker-Regular";
}

.register-form form {
  position: relative;
}

.error {
  font-family: "ZCOOLKuaiLe-Regular";
  text-align: center;
  color: red;
  font-size: 12px;
}

.borderRed {
  border: 2px solid red !important;
}
