.postWrapper{
	display: flex;
	margin: 100px 20px 10px;
	width: 100%;
	flex-wrap: wrap;
}

.postWrapper .card {
	margin: 10px;
	width: 30%;
	text-align: center;
	border: 1px solid black;
	border-radius: 24px;
}

.card-img-top{
	border-top-left-radius: 24px;
	border-top-right-radius: 24px;
}

.card .card-text{
	text-align: center;
	font-family: "PermanentMarker-Regular";
}

.card h5{
	text-align: center;
	font-family: "PermanentMarker-Regular";
}
.postWrapper .comment-view p{
	font-family: "PermanentMarker-Regular";
}

.postWrapper .comment-view hr{
	size: 2; 
}

.comment-create input[type="text"]{
	width: 100%;
	border: none;
	text-align: center;
	font-family: "PermanentMarker-Regular"; 
}

.comment-create .submit-btn {
  font-family: "PermanentMarker-Regular";
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 14px 40px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.comment-create .submit-btn:hover {
  background: black;
  color: white;
}