.container-home{
	height:100%;
	font-family: 'Permanent Marker', cursive;
}

#logoDiv h1{
	font-family:"PressStart2P-Regular";
	font-size:100px;
}
#logoDiv a{
	text-decoration: none;
	font-size:50px;
}
#logoDiv a:visited{
	color:black;
}
#logoDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align:center;
}

#logoDiv button{
	font-size:1.5em;
	font-family:"PressStart2P-Regular";
	border:0;
	padding:0;
	background:transparent;
	cursor: pointer;
	width: 13em;
	height: 3em;
	
}


body .container-home{
	overflow:hidden;
	height: 100vh;
	background-size: 200% 100% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, cyan 10%, purple 90%);
}

@keyframes NO {
    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes move {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 0;
    }
}