.login-page {
  background: white;
  height: 100vh;
  overflow: hidden;
}

.login-form {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.login-form h1 {
  font-family: "PermanentMarker-Regular";
  color: blacks;
  text-transform: uppercase;
  font-weight: 500;
}
.login-form input[type="text"],
.login-form input[type="password"] {
  font-family: "PermanentMarker-Regular";
  border: 0;
  background: none;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  text-align: center;
  border: 2px solid white;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}
.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
  width: 210px;
  border-color: black;
  box-shadow: none;
}
.login-form .submit-btn {
  font-family: "PermanentMarker-Regular";
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 14px 40px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.login-form ::placeholder {
  font-family: "PermanentMarker-Regular";
}

.login-form .submit-btn:hover {
  background: black;
  color: white;
}

.login-form form {
  position: relative;
}