.navbar-nav .logout{
	color: black;
	text-decoration: none;
	position: absolute;
	right: 10px;
	font-family: "Orbitron-Black";
	margin-top:10px;
}

.navbar-nav .menu{
	color: black;
	text-decoration: none;
	font-family: "Orbitron-Black";
	margin: 10px;
}

.navbar{
	position:fixed;
	z-index: 10000;
	top:0;
	right: 0;
	left:0;
}

.container-fluid h4{
	font-family: "Orbitron-Black";
	margin-top:2px;
	padding-right: 20px;
}